@font-face {
  font-family: "Museo Sans 500";
  src: url("fonts/MuseoSans_500.eot");
  src: local("Museo Sans 500"), local("MuseoSans-500"), url("fonts/MuseoSans_500.otf") format("opentype");
}

body{
  background: #F9F9F9 url(img/background.png);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Museo Sans 500", sans-serif;
}

#header {
  height: 47px;
  position: relative;
  background: #2E2F30;
  color: #898989;
  overflow: hidden;
}

h1{
  height: 47px;
  position: relative;
  background: url("img/logo.png") no-repeat 18px 12px transparent;
  overflow: hidden;
  margin:0;
  padding:0;
  text-indent:-999px;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  color: #DD2A37;
  width: 100%;
  height:30px;
  *margin-top:30px;
}


h3{font-size:16px;
   color:#333;}


#content{
  padding: 0;
  float: left;
  margin: 0 50px;
  width:80%;
}
#content p{color:#666; font-size:13px;}

#sources-content{float:left; margin:20px 0 0 0;}

#sources-content a, #sources-content a:visited, #sources-content a:active{
  font-size:12px;
  color:#2CB0B2;
  text-decoration:none;
  display:block;
}
#sources-content a:hover{
  text-decoration:underline;
}

.library-template{
  border-top: 1px #ccc solid;
}

.vendor{
  background: #fff;
  font-weight: normal;
  color: #333;
  overflow: hidden;
  height: auto;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-box-shadow: rgb(148, 148, 148) 0px 2px 6px -1px;
  border-color: rgb(87, 87, 87) rgb(87, 87, 87) #E4888C rgb(87, 87, 87);			
  border-radius: 3px;
  border-width: 0px 0px 2px 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-style: none none solid none;
  box-shadow: rgb(148, 148, 148) 0px 2px 6px -1px;
  color: rgb(87, 87, 87);
  display: block;
  line-height: 12px;
  margin: 24px 0px 12px 0px;
  outline-color: rgb(87, 87, 87);
  outline-style: none;
  outline-width: 0px;
  padding: 1px;
  *padding-bottom:20px;
  vertical-align: baseline;
}
.library {
  border-top: 1px solid #EDEDED;
  clear:right;
  overflow: hidden;
}

.library-title .status {
  float: left;
  height: 15px;
  width: 15px;
  background: gray;
  border-radius: 16px;
  margin-top: 17px;
  margin-left: 12px;
}

.library-title .title {
  overflow: hidden;
  word-break: break-all;
  float:left;
  margin-left: 8px;
  max-width: 1280px;
  text-overflow: ellipsis;
}
.tests-failed .library-title .status{
  background: red;
}
.tests-passed .library-title .status{
  background: green;
}
.tests-notests .library-title .status{
  background: orange;
}

.library .contents {
  width: 100%;
  overflow: hidden;
}

.desc {
  font-size:12px;
  color:#575757;
  font-size: 12px;
  padding: 20px 45px;
  display: block;

}
.desc img {
  border: 0;
  width: 150px;
  margin: 0 0 0 10px; float:right;
}
.library-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  clear: left;
  line-height: 52px;
  font-size: 14px;
  color: #333;
  display: block;
  height: 48px;
  overflow: hidden;
  word-break: break-all;
}


/*BUTTONS*/
.global-buttons {
  overflow: hidden;
  
}

.global-buttons a{
  background-color: #579D46!important;
  color:rgba(255, 255, 255, 0.72);
  *color:#fff;
  font-size: 13px;
  padding: 10px 15px;
  float: right;
  margin-right: 10px;
}
.global-buttons a:hover, .global-buttons a:active, .global-buttons a:visited{
  color:#fff!important;
}

a.show-hide-library {
  line-height: 51px;
  margin-left: 16px;
  display: block;
  float: left;
}

button {
  height: 24px;
  line-height: 12px;
  width: 64px;
}



.library button{
  display: block;
  float: right;
  border: 0;
  font-size:11px;
  background-color:#DBDBDB;
  padding:5px 10px;
  width:auto;
  height:40px;
  color:#666;
  cursor: pointer;
  margin-top:5px;
  margin-right: 5px;
}
.library button:hover{
  color:#333;
}

.library button.test-library{
  background-color: #579D46;
  color:rgba(255, 255, 255, 0.72);
  *color:#fff;
  margin-right:10px;
  font-size:11px;
}

.library button.test-library:hover{
  color:#fff;
}	
.library button.showhide{
  background-color: transparent;
  color:#2CB0B2;
  font-size: 13px;
  float:left;
}
.library button.showhide:hover{
  text-decoration:underline !important;
}

.parameter, .config {
  margin: 10px 20px 20px 20px ;
  height :20px;
  clear:left;
}
.parameter label, .config label {
  display: block;
  float: left;
  width: 250px;
  font-size: 12px;
  padding: 8px 0 0 40px;
  color: #555;
}
.parameter input, .config input {
  width: 180px;
  background-color: #EBEBEB;
  border: 1px solid #D8D8D8;
  color:#666;
  padding: 5px 10px;
  font-size:12px;
  display: block;
  float: left;
  margin-left: 8px;
}

.parameter input.red {
  border-color: red;
}

.parameter .uv {
  width: 250px;
  *width: 220px;
  color: gray;
  float: left;
  background: white;
}

.parameter .uv.no-uv {
  color: lightgray;
  font-style: italic;
}

.uv-label {
  float: left;
  width: 32px;
  line-height: 32px;
  margin-left: 8px;
  font-size:12px;
}

.unit-tests-head,
.parameter-header, .config-header, .post a, .pre a, .script a{
  font-size:13px;
  color:#666;
  padding: 20px 45px; 
  display:block;
  *font-weight: bold;

}
.parameter label, .config label {
  *font-weight: normal;
}

.script a{
  border-bottom: 1px solid #EDEDED;
}

.config-header a{
  display:block
}
a, .pre a, .post a, .script a,.hidden-parameters a,.hidden-parameters a:visited, .hidden-parameters a:active{
  font-size:13px;
  color:#2CB0B2;
  text-decoration:none;
}

.hidden-parameters a:hover, .pre a:hover, .post a:hover, .script a:hover{
  text-decoration:underline !important;
}

.config-header .hidden-config{
  margin:0 0 0 -45px;
}
.hide .contents {
  display: none;
}
.hide #sources {
  display: none;
}
.hide .library {
  display: none;
}

.plain {
  color: #333;
  text-decoration: none;
  font-size:20px;
  display: block;
  padding: 15px 0 15px 15px;
}
a.plain:hover {background-color:#fcfafa;}

#page-variables {
  width:100%; 
  float: left;
  background: white;
  *background:transparent;
}

#libraries {
  width: 100%;
  float: left;
  overflow: auto;
}

.unit-tests-suite .expression-before textarea,
.unit-tests-suite .expression-after textarea,
.pre textarea, .post textarea,.script textarea {
  width: 99%;
  height: 100px;
  background-color:#292929;
  color:#fff;
  padding:15px;
  font-family: 'Courier New', Monospace;
  font-size:12px;
}


#pre-post-script-template{
  display:block
}

.unit-tests-suite {

}
.unit-tests-suite .expression-before{

}
.unit-tests-suite .expression-after{

}
.unit-tests-suite .expression-before textarea{

}
.unit-tests-suite .expression-after textarea{

}
.unit-tests-suite {

}
.unit-tests-suite .unit-tests {

}
.unit-tests-suite .unit-tests .unit-test {

}
.unit-tests-suite .unit-tests .unit-test .name {
  line-height: 38px;
  text-indent: 16px;
  float: left;
}
.unit-tests-suite .unit-tests .unit-test .status {
  float: left;
  clear: left;
  height: 38px;
  width: 38px;
  float: left;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 26px;
  background: gray;
}
.unit-tests-suite .unit-tests .unit-test .status.passed {
  background: green;
}
.unit-tests-suite .unit-tests .unit-test .status.failed {
  background: red;
}

.progress-bar {
  position: absolute;
  top: 30%;
  left: 0px;
  width: 100%;
  height: 0;

}

.progress-bar .wrapper {
  width: 75%;
  height: 100px;
  border-radius: 9px;
  box-shadow: rgb(148, 148, 148) 0px 2px 6px -1px;
  -webkit-box-shadow: rgb(148, 148, 148) 0px 2px 6px -1px;
  -moz-box-shadow: rgb(148, 148, 148) 0px 2px 6px -1px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0px;
}
.progress-bar .wrapper .bar{
  width: 75%;
  margin-top: 40px;
  height: 18px;
  border: 1px solid gray;
  background: gray;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 2px;
}
.progress-bar .wrapper .bar .progress{
  background: #FF5A00;
  height: inherit;
  border-radius: 2px;
}

.progress-bar .wrapper .bar .title{
  text-align: center;
  background: transparent;
  overflow: hidden;
  height: inherit;
  width: 100%;
  position: absolute;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: Verdana;
  font-size: 11px;
  line-height: 18px;
}

/*** QCONSOLE ***/

.qconsole {
  position: fixed;
  *position: absolute;
  width: 60%;
  height: auto;
  overflow: hidden;
  box-shadow: rgb(148, 148, 148) 0px 2px 6px -1px;
  -webkit-box-shadow: rgb(148, 148, 148) 0px 2px 6px -1px;
  -moz-box-shadow: rgb(148, 148, 148) 0px 2px 6px -1px;
  right: 0px;
  top: 0px;
}

.qconsole .console-head {
  height: 47px;
  line-height: 42px;
  text-indent: 8px;
  font-weight: bolder;
  background: #DBDBDB;
}
.qconsole .console-head a, .qconsole .console-head a:visited, .qconsole .console-head a:active{
  color:#666;
  font-size: 11px;

}
.qconsole .console-head a:hover{
  color:#333;
}
.qconsole .console-body {
  height: 470px;
  background: white;
  overflow: auto;
}
.qconsole .msg .msg-head {
  display: none;
}
.qconsole .msg .msg-body {
  margin: 0px;
  height: 18px;
  background: transparent;
  padding: 2px;
  font-size: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.removed {
  display: none !important;
}

.bdd-head {
  font-size: 16px;
}

.qconsole.shown {

}
.qconsole.hidden {
  height: auto;
  width: 140px;
}
.qconsole.hidden .console-body {
  display: none;
}

.html-reporter {
  display: none !important;
}

.uv-popup {
  background: white;
  box-shadow: rgb(148, 148, 148) 0px 2px 6px -1px;
  -webkit-box-shadow: rgb(148, 148, 148) 0px 2px 6px -1px;
  -moz-box-shadow: rgb(148, 148, 148) 0px 2px 6px -1px;
    margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  padding: 16px;
  overflow: hidden;
}

.uv-popup .head {
  height: 48px;
}

.uv-popup .head .sub {
  font-size: 12px;
}

.uv-popup .body {
  height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

.uv-popup .body-wrapper {
  width: 100%;
  height: auto;
}

.uv-popup .result {
  width: 100%;
  height: 32px;
  color: #DB5800;
  font-size: 14px;
  overflow: hidden;
  text-indent: 8px;
  margin-top: 8px;
}

.uv-popup .result.initial {
  color: #BBB;
  font-style: italic;
}

.uv-popup .body .column {
  width: 101%;
  height: 100%;
  overflow: hidden;
}

.uv-popup .body .column .column-item {
  min-height: 32px;
  width: 100%;
  overflow: hidden;
  line-height: 32px;
  font-size: 12px;
  color: #696969;
  cursor:pointer;
}

.uv-popup .body .column .column-item:nth-child(2n+1) {
  background: #EEE;
}

.uv-popup .body .column .column-item:hover *{
  background: #DDD !important;
  
}

.uv-popup .body .column .column-item .name {
  background: white;
  width: 25%;
  float: left;
}
.uv-popup .body .column .column-item .description {
  width: 75%;
  float: left;
  background: #F5F5F5;
}













































/***** JASMINE *****/

.html-reporter {
  font-size:11px;
  font-family:Monaco, "Lucida Console", monospace;
  line-height:14px;
  color:#333;
}

.html-reporter a {
  text-decoration:none;
}

.html-reporter p,.html-reporter h1,.html-reporter h2,.html-reporter h3,.html-reporter h4,.html-reporter h5,.html-reporter h6 {
  line-height:14px;
  margin:0;
}

.html-reporter .banner,.html-reporter .symbol-summary,.html-reporter .summary,.html-reporter .result-message,.html-reporter .spec .description,.html-reporter .spec-detail .description,.html-reporter .alert .bar,.html-reporter .stack-trace {
  padding-left:9px;
  padding-right:9px;
}

.html-reporter .banner .version {
  margin-left:14px;
}

.html-reporter #jasmine_content {
  position:fixed;
  right:100%;
}

.html-reporter .version {
  color:#aaa;
}

.html-reporter .duration {
  color:#aaa;
  float:right;
}

.html-reporter .symbol-summary {
  overflow:hidden;
  zoom:1;
  margin:14px 0;
}

.html-reporter .symbol-summary li {
  display:inline-block;
  height:8px;
  width:14px;
  font-size:16px;
}

.html-reporter .symbol-summary li.passed:before {
  color:#5e7d00;
  content:"\02022";
}

.html-reporter .symbol-summary li.failed {
  line-height:9px;
}

.html-reporter .symbol-summary li.failed:before {
  color:#b03911;
  content:"x";
  font-weight:700;
  margin-left:-1px;
}

.html-reporter .symbol-summary li.disabled:before {
  color:#bababa;
  content:"\02022";
}

.html-reporter .symbol-summary li.pending {
  line-height:17px;
}

.html-reporter .symbol-summary li.pending:before {
  color:#ba9d37;
  content:"*";
}

.html-reporter .exceptions {
  color:#fff;
  float:right;
  margin-top:5px;
  margin-right:5px;
}

.html-reporter .bar {
  line-height:28px;
  font-size:14px;
  display:block;
  color:#eee;
}

.html-reporter .bar.passed {
  background-color:#a6b779;
}

.html-reporter .bar.skipped {
  background-color:#bababa;
}

.html-reporter .bar.menu {
  background-color:#fff;
  color:#aaa;
}

.html-reporter .running-alert {
  background-color:#666;
}

.html-reporter.showDetails .summaryMenuItem {
  font-weight:400;
  text-decoration:inherit;
}

.html-reporter .summary ul {
  list-style-type:none;
  margin-left:14px;
  padding-top:0;
  padding-left:0;
}

.html-reporter .summary ul.suite {
  margin-top:7px;
  margin-bottom:7px;
}

.html-reporter .summary li.passed a {
  color:#5e7d00;
}

.html-reporter .summary li.failed a {
  color:#b03911;
}

.html-reporter .summary li.pending a {
  color:#ba9d37;
}

.html-reporter .description + .suite {
  margin-top:0;
}

.html-reporter .failures .spec-detail {
  margin-bottom:28px;
}

.html-reporter .result-message {
  padding-top:14px;
  color:#333;
  white-space:pre;
}

.html-reporter .stack-trace {
  max-height:224px;
  overflow:auto;
  line-height:18px;
  color:#666;
  border:1px solid #ddd;
  background:#FFF;
  white-space:pre;
  margin:5px 0 0;
}

.html-reporter a:hover,.html-reporter.showDetails .summaryMenuItem:hover {
  text-decoration:underline;
}

.html-reporter .banner,.html-reporter .results,.html-reporter .summary,.html-reporter .suite {
  margin-top:14px;
}

.html-reporter .symbol-summary li.passed,.html-reporter .symbol-summary li.disabled {
  font-size:14px;
}

.html-reporter .bar.failed,.html-reporter .failures .spec-detail .description {
  background-color:#b03911;
}

.html-reporter .bar.menu a,.html-reporter .suite a {
  color:#333;
}

.html-reporter .bar a,.html-reporter .failures .spec-detail .description a {
  color:#FFF;
}

.html-reporter.spec-list .bar.menu.failure-list,.html-reporter.spec-list .results .failures,.html-reporter.failure-list .bar.menu.spec-list,.html-reporter.failure-list .summary,.html-reporter.showDetails .summary {
  display:none;
}

.html-reporter.showDetails .detailsMenuItem,.html-reporter .summaryMenuItem {
  font-weight:700;
  text-decoration:underline;
}

.html-reporter.showDetails #details,.html-reporter .result-message span.result {
  display:block;
}